PORT=3000
NODE_ENV=development
SESSION_SECRET=v9fK3$2mQ8x!pL4zRt6yW@1bUeH7nC0jVqXs5dF#kG2hY8aPz
STRAVA_CLIENT_ID=217271
STRAVA_CLIENT_SECRET=fc811fc16a79a9a79c5be632542238fb247a3edf
STRAVA_REDIRECT_URI=http://localhost:3000/auth/strava/callback
